<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bijo Biju</title>
</head>
<body>
    <h1>Complete Variable:</h1><br> {{blogs}}<br>

    <h1>For Loop:</h1><br>
    {% for i in blogs %}
        <h2>{{i.title}} - {{i.pub_date}}</h2>
    {% endfor %}

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <label for="title">Title</label>
        {{form.title}}
        <br>
        <label for="content">Content</label>
        {{form.content}}
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>